// Primary Colors
$highest: #17192d; // header
$low: #c1c9d2; // placeholder
$title: #363c44;
$green: #52c41a;
$red: #ed3833;

// Blues
$blue900: #023b78;
$blue500: #2188ff;

// Greys
$gray950: #24292f;
$gray600: #77818c;
$gray200: #d8dfe6;

// Background
$lowest: #ffffff;
