@import '@styles/config.scss';

.nodeContent {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.icon {
  width: 22px;
  height: 22px;
  color: $blue500;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.children {
  margin-left: 20px;
}

.name {
  @include body-regular-400;
}
