@import '@styles/config.scss';

.node {
  margin-bottom: 8px;
}

.nodeContent {
  display: flex;
  align-items: center;
  gap: 8px; // Space between the icon and the name
}

.icon {
  width: 22px;
  height: 22px;
  color: $blue500;
}

.children {
  margin-left: 20px;
}
